---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import HeaderTile from '../components/HeaderTile.astro';
import QuickLink from '../components/QuickLink.astro';
import Updates from '../components/Updates.astro';
import BlogTile from '../components/BlogTile.astro';
import { getCollection } from 'astro:content';
const allBlogPosts = await getCollection('blog');
const favoriteBlogPosts = await getCollection('blog', ({ data }) => {
  return data.favorite == true;
});
---
<Layout title="Blog | Kevin Cordero">
	<main>
		<div class="left">
			{
				allBlogPosts.map((post) => (
					<BlogTile
						date={post.data.date}
						title={post.data.title}
						src={post.data.image}
						link={`/blog/${post.slug}`}
					>
					{post.data.description}
					</BlogTile>
				))
			}
		</div>

		<div class="right">
			<HeaderTile title="Favorites">
				<div class="updates">
					{
						favoriteBlogPosts.map((post) => (
							<Updates
								date={post.data.date}
								type={post.data.type}
								title={post.data.title}
								link={`/blog/${post.slug}`}
							/>
						))
					}
				</div>
			</HeaderTile>
		</div>
	</main>
</Layout>

<style is:global>

	.left {
		display: flex;
		gap: 20px;
		flex-direction: column;

		flex: 1 1 auto;
		max-width: calc((65% - 6 * 20px) + 4 * 20px);
	}

	.right {
		flex: 1 1 auto;
	}

    p {
		font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		line-height: 1.6;
		font-size: 16px;
		margin: 0;
	}

	.updates {
		display: flex;
		flex-direction: column;

		gap: 20px;
	}

	@media only screen and (max-width: 1024px) {
		main {
			flex-direction: column;
			width: 90%;
		}

		.left {
			max-width: 100%;
		}
	}

	@media only screen and (max-width: 768px) {

	}
</style>
