---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import HeaderTile from '../components/HeaderTile.astro';
import QuickLink from '../components/QuickLink.astro';
import Updates from '../components/Updates.astro';
import BlogTile from '../components/BlogTile.astro';
const posts = await Astro.glob("../content/blog/*.md");

---
<Layout title="Blog | Kevin Cordero">
	<main>
		<div class="left">
			{
				posts.map((post) => (
					<BlogTile
						date={post.frontmatter.date}
						title={post.frontmatter.title}
						src="/placeholder.png"
						link={`/blog/${post.frontmatter.slug}`}
					>
					{post.frontmatter.description}
					</BlogTile>
				))
			}
		</div>

		<div class="right">
			<HeaderTile title="Recent">
				<div class="updates">
					{
						posts.map((post) => (
							<Updates
								date={post.frontmatter.date}
								type={post.frontmatter.type}
								title={post.frontmatter.title}
								link={`/blog/${post.frontmatter.slug}`}
							/>
						))
					}
				</div>
			</HeaderTile>
		</div>
	</main>
</Layout>

<style is:global>
    p {
		font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		line-height: 1.6;
		font-size: 16px;
		margin: 0;
	}

	.updates {
		display: flex;
		flex-direction: column;

		gap: 20px;
	}
</style>
