---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import HeaderTile from "../components/HeaderTile.astro";
import QuickLink from "../components/QuickLink.astro";
import Updates from "../components/Updates.astro";
import { getCollection, getEntry } from 'astro:content';
const allBlogPosts = await getCollection('blog');
---

<Layout title="Welcome | Kevin Cordero">
	<main>
		<div class="left">
			<HeaderTile title="Welcome!">
				<p>
					Hi, I’m Kevin, a rising senior enrolled at the University of
					Illinois at Chicago. I’m looking for internships and full
					time offers this upcoming fall cycle. I’m interested in
					DevOps and have a lot of experience in Webdev.
					<br /><br /> I’m not a systems guy but I like tinkering with
					my Homelab and am Treasurer of UIC's LUG (Linux Users Group).
				</p>
			</HeaderTile>
			<HeaderTile title="Quick Links">
				<QuickLink
					href="https://linkding.olympicene.dev"
					src="/links/linkding.png"
					name="Linkding"
				/>
				<QuickLink
					href="https://jellyfin.olympicene.dev"
					src="/links/jellyfin.png"
					name="Jellyfin"
				/>
				<QuickLink
					href="https://hydrus.app/"
					src="/links/hydrus.svg"
					name="Hydrus"
				/>
				<QuickLink
					href="https://jellyseer.olympicene.dev/"
					src="/links/jellyseer.svg"
					name="Jellyseer"
				/>
				<QuickLink
					href="/resume"
					src="/links/resume.png"
					name="Resume"
				/>
				<QuickLink
					href="/sitemap-0.xml"
					src="/links/sitemap.png"
					name="Sitemap"
				/>
			</HeaderTile>
		</div>

		<div class="right">
			<HeaderTile tall={true} title="Recent">
				<div class="updates">
					{
						allBlogPosts.reverse().map((post) => (
							<Updates
								date={post.data.date}
								type={post.data.type}
								title={post.data.title}
								link={`/blog/${post.id}`}
							/>
						))
					}
				</div>
			</HeaderTile>
		</div>
	</main>
</Layout>

<style>
	.left {
		display: flex;
		gap: 20px;
		flex-direction: column;

		flex: 1 1 auto;
		max-width: calc((65% - 6 * 20px) + 4 * 20px);
	}

	.right {
		flex: 1 1 auto;
	}

	p {
		font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
			"Helvetica Neue", sans-serif;
		line-height: 1.6;
		font-size: 16px;
		margin: 0;
	}

	main {
		flex-wrap: nowrap;
	}

	.updates {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	@media only screen and (max-width: 1024px) {
		main {
			flex-direction: column;
			width: 90%;
		}

		.left {
			max-width: 100%;
		}
	}

	@media only screen and (max-width: 768px) {

	}
</style>
